POSTGRES_USER=de
POSTGRES_PASSWORD=de_password_ganti_ini
POSTGRES_DB=olist
AIRFLOW_UID=50000
AWS_ACCESS_KEY_ID=isi_dari_iam_user
AWS_SECRET_ACCESS_KEY=isi_dari_iam_user
AWS_REGION=ap-southeast-1
S3_BUCKET=de-portfolio-fadhli
AIRFLOW__CORE__LOAD_EXAMPLES=False
